body {
    background-color: #dee8ee;
}

hr {
    background-color: #828c91;
    margin: 30px 0 50px;
}

.container-menu {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background-color: #161B22;
}
.container-menu .title {
    text-align: center;
    color: aliceblue;
}
.container-menu .list-topics {
    display: grid;
    grid-template: repeat(9, 1fr) / 1fr;
    justify-items: center;
    row-gap: 15px;
}
.container-menu .list-topics a {
    font-size: 18px;
    color: rgb(189, 210, 230);
    border: 1px dashed rgb(93, 74, 136);
    border-radius: 8px;
    padding: 4px;
    text-decoration: none;
}
.container-menu .list-topics a:hover {
    border: 1px solid rgb(106, 86, 151);
    color: aliceblue;
}

.item {
    background-color: #161B22;
    color: aliceblue;
    padding: 10px;
    border: 3px solid #828c91;
    border-radius: 8px;
}

.item .item {
    border: 2px solid yellow;
}

.back {
    display: block;
    color: #161B22;
    padding: 5px 0 15px;
}
